{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="title-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="title-bar-text">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Title Start -->
<!-- Body Start -->
<main class="browse-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="account_dt_left">
                    <div class="job-center-dt">
                        <img src="{% static 'images/homepage/candidates/img-1.jpg' %}" alt="">
                        <div class="job-urs-dts">
                            <div class="dp_upload">
                                <input type="file" id="file">
                                <label for="file">Upload Photo</label>
                            </div>
                            <h4>John Doe</h4>
                            <span>UX Designer</span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-9 col-md-8 mainpage">
                <div class="account_heading">
                    <div class="account_hd_left">
                        <h2>TABLEAU DE BORD NOM D'UTILISATEUR</h2>
                    </div>
                    <div class="account_hd_right">
                        <a href="#" class="main_lg_btn">Se déconnecte</a>
                    </div>
                </div>
                <div class="account_tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'dashboard_temoins' %}">Tableau de bord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="my_freelancer_profile.html">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'all_candidat' %}">Candidat(e)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_temoin' %}">Témoin</a>
                        </li>

                    </ul>
                </div>
                <div class="jobs_manage">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="jobs_tabs">
                                <ul class="nav job_nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item ">
                                        <a class="nav-link active" href="#allcandidat" id="transaction-tab"
                                            data-toggle="tab">Tous les candidat(e)s</a>
                                    </li>
                                    <li class="nav-item job_nav_item">
                                        <a class="nav-link" href="#Creercandidat" id="payment-tab"
                                            data-toggle="tab">Créer un(e) candidat(e)</a>
                                    </li>

                                    <li class="nav-item job_nav_item">
                                        <a class="nav-link" href="#demande" id="transaction-tab"
                                            data-toggle="tab">Demande d'un témoins</a>
                                    </li>
                                    <li class="nav-item job_nav_item">
                                        <a class="nav-link" href="#demandetemoin" id="transaction-tab"
                                            data-toggle="tab">Toutes nos demandes des témoins</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="allcandidat">
                                    <div class="view_chart">
                                        <div class="view_chart_header">
                                            <h4>TOUS LES CANDIDATS</h4>
                                        </div>
                                        <div class="transaction_body">
                                            <div class="table-responsive-md">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Nom</th>
                                                            <th scope="col">Postnom</th>
                                                            <th scope="col">Prénom</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="user_dt_trans">
                                                                    <div class="aadd14">Johnson Doe</div>
                                                                    <!-- <p>ID No.<a href="#">123456</a></p> -->
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="user_dt_trans">
                                                                    <div class="aadd14">Travel Wordpress Theme</div>
                                                                    <!-- <p>Date :<span>20 oct 2019</span></p> -->
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="user_dt_trans">
                                                                    <div class="aadd14">Paypal</div>
                                                                    <!-- <p>$800</p> -->
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="">
                                                                    <div class="trans_badge">Modifier</div>
                                                                </a>
                                                            </td>
                                                            <!-- </tr>
																<tr>
																	<th scope="row">
																		<div class="user_dt_trans">
																			<div class="aadd14">Rock William</div>
																			<p>ID No.<a href="#">123450</a></p>
																		</div>
																	</th>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Real Estate Psd Template</div>
																			<p>Date :<span>18 oct 2019</span></p>
																		</div>
																	</td>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Credit Card</div>
																			<p>$1200</p>
																		</div>
																	</td>
																	<td>
																		<div class="trans_badge">Received</div>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<div class="user_dt_trans">
																			<div class="aadd14">Jassica Wiliam</div>
																			<p>ID No.<a href="#">123445</a></p>
																		</div>
																	</th>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Chatting Android App</div>
																			<p>Date :<span>16 oct 2019</span></p>
																		</div>
																	</td>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Credit Card</div>
																			<p>$2500</p>
																		</div>
																	</td>
																	<td>
																		<div class="trans_badge">Send</div>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<div class="user_dt_trans">
																			<div class="aadd14">Albert Smith</div>
																			<p>ID No.<a href="#">123405</a></p>
																		</div>
																	</th>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Hotel Booking Html Template</div>
																			<p>Date :<span>15 oct 2019</span></p>
																		</div>
																	</td>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Paypal</div>
																			<p>$2500</p>
																		</div>
																	</td>
																	<td>
																		<div class="trans_badge">Send</div>
																	</td>
																</tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="Creercandidat" role="tabpanel">
                                <div class="add-ons-dt accordion" id="accordionExample">

                                    <div class="bookmark_card">
                                        <button class="bookmark_collapse" data-toggle="collapse"
                                            data-target="#collapse2" aria-expanded="true"
                                            aria-controls="collapse2">CREER UN(E) CANDIDAT(E)</button>
                                        <div id="collapse2" class="collapse show">
                                            <div class="card-body">
                                                <div class="send_payment_dt">
                                                    <!-- <div class="post_job_body">
																	<div class="form-group">
																		<label class="label15">Amount*</label>
																		<input type="text" class="job-input" placeholder="Enter Amount">
																	</div>
																	<div class="form-group">
																		<label class="label15">Send To*</label>
																		<input type="email" class="job-input" placeholder="Enter Email Address">
																	</div>
																</div> -->

                                                    <div class="post_job_body">

                                                        <!-- <div class="form-group">
																		<label class="label15">Card Number*</label>
																		<input type="text" class="job-input" placeholder="Enter Card Number">
																	</div>
																	<div class="form-group">
																		<label class="label15">Full Name*</label>
																		<input type="text" class="job-input" placeholder="Enter Full Name">
																	</div> -->
                                                        <div class="fdsf452">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">NOM</label>
                                                                        <input type="text" class="job-input "
                                                                            placeholder="Votre nom de la famile">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">POSTNOM</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre postnom de la famile">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">PRENOM</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre prénom ">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">ETAT CIVIL</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre état civil">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">DATE DE NAISSENCE</label>
                                                                        <input type="text"
                                                                            class="job-input datepicker-here"
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre date de naissance">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">TELEPHONE</label>
                                                                        <input type="number" class="job-input"
                                                                            placeholder="Votre numéro de téléphone">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">VILLE</label>
                                                                        <input type="text" class="job-input"
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre ville">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">DISTRICT</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre district">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">COMMUNE</label>
                                                                        <input type="text" class="job-input"
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre commune">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">ADRESSE</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre adresse physique">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">REGROUPEMENT
                                                                            POLITIQUE</label>
                                                                        <input type="text" class="job-input "
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre regroupement politique">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">CODE PRESIDENTIEL</label>
                                                                        <input type="number" class="job-input"
                                                                            placeholder="Code du candidat">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">CODE DEPUTE
                                                                            NATION</label>
                                                                        <input type="number" class="job-input "
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="code du candidat">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">CODE DEPUTE
                                                                            PROVINCIAL</label>
                                                                        <input type="number" class="job-input"
                                                                            placeholder="code du candidat">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                            <label class="label15">Email Address*</label>
                                                                            <input type="email" class="job-input" placeholder="Enter Email Address">
                                                                        </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="post_job_body lineppyl">
                                                        <!-- <div class="ui radio checkbox apply_check">
																		<input type="radio" name="example1">
																		<label style="color:#242424 !important;">Paypal</label>
																	</div> -->

                                                        <button class="withdraw_btn">ENREGISTRER</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane fade show active" id="demande" role="tabpanel">
                                <div class="add-ons-dt accordion" id="accordionExample">

                                    <div class="bookmark_card">
                                        <button class="bookmark_collapse" data-toggle="collapse"
                                            data-target="#collapse2" aria-expanded="true"
                                            aria-controls="collapse2">BESOIN UN TEMOIN </button>
                                        <div id="collapse2" class="collapse show">
                                            <div class="card-body">
                                                <div class="send_payment_dt">
                                                    <!-- <div class="post_job_body">
																	<div class="form-group">
																		<label class="label15">Amount*</label>
																		<input type="text" class="job-input" placeholder="Enter Amount">
																	</div>
																	<div class="form-group">
																		<label class="label15">Send To*</label>
																		<input type="email" class="job-input" placeholder="Enter Email Address">
																	</div>
																</div> -->

                                                    <div class="post_job_body">

                                                        <!-- <div class="form-group">
																		<label class="label15">Card Number*</label>
																		<input type="text" class="job-input" placeholder="Enter Card Number">
																	</div>
																	<div class="form-group">
																		<label class="label15">Full Name*</label>
																		<input type="text" class="job-input" placeholder="Enter Full Name">
																	</div> -->
                                                        <div class="fdsf452">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">NOM</label>
                                                                        <input type="text" class="job-input "
                                                                            placeholder="Votre nom de la famile">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">POSTNOM</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre postnom de la famile">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">PRENOM</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre prénom ">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">ETAT CIVIL</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre état civil">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">DATE DE NAISSENCE</label>
                                                                        <input type="text"
                                                                            class="job-input datepicker-here"
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre date de naissance">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">TELEPHONE</label>
                                                                        <input type="number" class="job-input"
                                                                            placeholder="Votre numéro de téléphone">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">VILLE</label>
                                                                        <input type="text" class="job-input"
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre ville">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">DISTRICT</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre district">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">COMMUNE</label>
                                                                        <input type="text" class="job-input"
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre commune">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">ADRESSE</label>
                                                                        <input type="text" class="job-input"
                                                                            placeholder="Votre adresse physique">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">REGROUPEMENT
                                                                            POLITIQUE</label>
                                                                        <input type="text" class="job-input "
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="Votre regroupement politique">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">CODE PRESIDENTIEL</label>
                                                                        <input type="number" class="job-input"
                                                                            placeholder="Code du candidat">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">CODE DEPUTE
                                                                            NATION</label>
                                                                        <input type="number" class="job-input "
                                                                            data-language="en" data-min-view="months"
                                                                            data-view="months"
                                                                            data-date-format="MM yyyy"
                                                                            placeholder="code du candidat">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label15">CODE DEPUTE
                                                                            PROVINCIAL</label>
                                                                        <input type="number" class="job-input"
                                                                            placeholder="code du candidat">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                            <label class="label15">Email Address*</label>
                                                                            <input type="email" class="job-input" placeholder="Enter Email Address">
                                                                        </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="post_job_body lineppyl">
                                                        <!-- <div class="ui radio checkbox apply_check">
																		<input type="radio" name="example1">
																		<label style="color:#242424 !important;">Paypal</label>
																	</div> -->

                                                        <button class="withdraw_btn">ENREGISTRER</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="demandetemoin">
                                <div class="view_chart">
                                    <div class="view_chart_header">
                                        <h4>TOUTES NOS DEMANDE DES TEMOINS</h4>
                                    </div>
                                    <div class="transaction_body">
                                        <div class="table-responsive-md">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Postnom</th>
                                                        <th scope="col">Prénom</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="user_dt_trans">
                                                                <div class="aadd14">Johnson Doe</div>
                                                                <!-- <p>ID No.<a href="#">123456</a></p> -->
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <div class="user_dt_trans">
                                                                <div class="aadd14">Travel Wordpress Theme</div>
                                                                <!-- <p>Date :<span>20 oct 2019</span></p> -->
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="user_dt_trans">
                                                                <div class="aadd14">Paypal</div>
                                                                <!-- <p>$800</p> -->
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="">
                                                                <div class="trans_badge">Modifier</div>
                                                            </a>
                                                        </td>
                                                        <!-- </tr>
																<tr>
																	<th scope="row">
																		<div class="user_dt_trans">
																			<div class="aadd14">Rock William</div>
																			<p>ID No.<a href="#">123450</a></p>
																		</div>
																	</th>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Real Estate Psd Template</div>
																			<p>Date :<span>18 oct 2019</span></p>
																		</div>
																	</td>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Credit Card</div>
																			<p>$1200</p>
																		</div>
																	</td>
																	<td>
																		<div class="trans_badge">Received</div>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<div class="user_dt_trans">
																			<div class="aadd14">Jassica Wiliam</div>
																			<p>ID No.<a href="#">123445</a></p>
																		</div>
																	</th>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Chatting Android App</div>
																			<p>Date :<span>16 oct 2019</span></p>
																		</div>
																	</td>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Credit Card</div>
																			<p>$2500</p>
																		</div>
																	</td>
																	<td>
																		<div class="trans_badge">Send</div>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<div class="user_dt_trans">
																			<div class="aadd14">Albert Smith</div>
																			<p>ID No.<a href="#">123405</a></p>
																		</div>
																	</th>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Hotel Booking Html Template</div>
																			<p>Date :<span>15 oct 2019</span></p>
																		</div>
																	</td>
																	<td>
																		<div class="user_dt_trans">
																			<div class="aadd14">Paypal</div>
																			<p>$2500</p>
																		</div>
																	</td>
																	<td>
																		<div class="trans_badge">Send</div>
																	</td>
																</tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}